/* src/styles/Contact.css */
.contact {
  padding: 50px;
  max-width: 600px;
  margin: 70px auto 50px; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

  
  .contact form {
    display: flex;
    flex-direction: column;
  }
  
  .contact label {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .contact input,
  .contact textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  .contact input:focus,
  .contact textarea:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .contact button {
    margin-top: 20px;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .contact button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  